{% extends 'layouts/layout.html.twig' %}
{% block style %}
<link rel="stylesheet"  href="{{ asset('css/commmentSection.css') }}" >
{% endblock %}

{% block content %}
<div class="bradcam_area bradcam_bg_1">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text text-center">
                    <h3>Recipe Details</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /bradcam_area  -->

<div class="recepie_details_area">

    <!-- check if the recipe truly exists -->
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-6 col-md-6">
                <div class="recepies_thumb">
                    <img src="{{ asset('img/recepie/' ~ recipe.Image) }}" alt="food">
                </div>
            </div>
            <div class="col-xl-6 col-md-6">
                <div class="recepies_info">
                    <h3>{{ recipe.Name }}</h3>


                    <div class="resepies_details">
                        <ul>
                            <li>
                                <p><strong>Rating</strong> :
                                    {% set averageRating = recipe.AverageRating %}
{#                                            // display the rating in stars format : full star for each rating and empty star for the rest#}
{#                                                averageRating = recipe.AverageRating;#}
                                    {% for i in 1..5 %}
                                        {% if i <= averageRating %}
                                        <i class="fa fa-star"></i>
                                        {% else %}
                                        <i class="fa fa-star-o"></i>
                                        {% endif %}
                                    {% endfor %}

                                </p>
                            </li>
                            </p> </li>
                            <li><p><strong>Time</strong> : {{ recipe.Time}} Mins </p></li>
                            <li><p><strong>Category</strong> : {{ recipe.Type }} </p></li>
                            <h3 style="margin-top:15px;">Ingredients</h3>

                            <li>
                                <p>{{ recipe.Ingredients }}</p>

                            </li>

                        </ul>
                    </div>
                    <div class="links">
                        <a href="#"> <i class="fa fa-facebook"></i> </a>
                        <a href="#"> <i class="fa fa-twitter"></i> </a>
                        <a href="#"> <i class="fa fa-linkedin"></i> </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12">
                <div class="recepies_text">
                    <p>{{ recipe.Description}}</p>

                </div>
            </div>
            <div class="form-group mt-3">

                <a href="{{ path('review', {'recipe_id': recipe.id }) }}" class="button button-contactForm btn_4 boxed-btn">Write a Review</a>
            </div>
            <div class="form-group mt-3">
                <a href="generatePdf.php?recipe=<?= $recipe->Id?>" class="button button-contactForm btn_4 boxed-btn" style="margin-left:30px;"><i class="fa fa-download"></i> Download PDF</a>
            </div>

        </div>
        <br>
        <div class="comment-section">
           <h3 class="contact-title" >Reviews</h3>
            {% if reviews is not empty %}
            {% for review in reviews %}
            <div class="review-box">
                <div class="review-head">
                    <h3 class="contact-title review-author">
                        {{ review.User.UserName }}
                   </h3>
               <div class = "rating">
                   {% for i in 1..5 %}
                       {% if i <= review.Rate %}
                           <span class="star active">&#9733;</span>
                       {% else %}
                           <span class="star">&#9733;</span>
                       {% endif %}
                        {% endfor %}
                    </div>
                </div>
               <div class= "review-title">{{ review.Title }}</div>
                <div class="review-content">
                    {{ review.Description }}
               </div>
            </div>
       </div>
        <br>
        {% endfor %}
        {% else %}
      <h2>No review found</h2>
        {% endif %}
    </div>

    <!-- recepie_area_start  -->
    <div class="recepie_area inc_padding">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-6">
                    <div class="single_recepie text-center">
                        <div class="recepie_thumb">
                            <img src={{ asset('img/recepie/recpie_1.png') }}>
                        </div>
                        <h3>Egg Manchurian</h3>
                        <span>Appetizer</span>
                        <p>Time Needs: 30 Mins</p>
                        <a href="#" class="line_btn">View Full Recipe</a>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6">
                    <div class="single_recepie text-center">
                        <div class="recepie_thumb">
                            <img src={{ asset('img/recepie/recpie_2.png') }} alt="">
                        </div>
                        <h3>Pure Vegetable Bowl</h3>
                        <span>Appetizer</span>
                        <p>Time Needs: 30 Mins</p>
                        <a href="#" class="line_btn">View Full Recipe</a>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6">
                    <div class="single_recepie text-center">
                        <div class="recepie_thumb">
                            <img src={{ asset('img/recepie/recpie_3.png') }} alt="">
                        </div>
                        <h3>Egg Masala Ramen</h3>
                        <span>Appetizer</span>
                        <p>Time Needs: 30 Mins</p>
                        <a href="#" class="line_btn">View Full Recipe</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /recepie_area_start  -->
    {% endblock %}