{% extends 'layouts/layout.html.twig' %}

{% block style %}
    <link rel="stylesheet" href={{ asset('css/recipes.css') }}>
    <link rel="stylesheet" href={{ asset('css/viewMyPosts.css') }}>


{% endblock %}
{% block content %}



<!-- bradcam_area  -->
<div class="bradcam_area bradcam_bg_1" style="background-image: url('{{ asset('img/copy-space-ingredients-italian-food.jpg') }}'); }}); opacity:0.9;">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text text-center">
                    <h3 style="text-align:left;">Welcome to your Profile <br>{{ user.userName }}</h3>
                    </h3>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /bradcam_area  -->

<div class="recipe_area inc_padding">
    <div class="container" style="margin-bottom: 20px;">
        <div class="row" >

            {% if recipes is not empty %}
                {% for recipe in recipes  %}
                        <div class="card">
                            <div class="header">
                                <img src="{{ asset('img/recepie/' ~ recipe.Image) }}" alt="food">
                                <div class="icon">
                                    <a href="#"><i class="fa fa-heart-o"></i></a>
                                </div>

                            </div>
                            <div class="text">
                                <h3 class="food">
                                    {{recipe.Name }}
                                </h3>
                                <i class="fa fa-clock-o"> {{ recipe.time }} Mins</i>
                                <i class="fa fa-users"> Serves {{ recipe.nbServings}}</i>

                                <div class="stars">
                                    <?php  ?>
                                    <li>
                                        <a href="#"><i class="fa fa-star"></i></a>
                                        <a href="#"><i class="fa fa-star"></i></a>
                                        <a href="#"><i class="fa fa-star"></i></a>
                                        <a href="#"><i class="fa fa-star"></i></a>
                                        <a href="#"><i class="fa fa-star-o"></i></a>
                                    </li>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
            {#                        <a href="recipes_details.php?recipe=<?= $recipe->Id; ?>" class="btn">Let's Cook!</a>#}
                                    <a href="#" class="btn">Let's Cook!</a>
                                </div>

                            {% if(recipe.confirm==1)%}
                                <div class="col">
            {#                        <a href="review.php?recipe=<?=$recipe->Id?>" class="btn">Add review!</a>#}
                                    <a href="#" class="btn">Add review!</a>

                                </div>
                            {% endif %}
                        </div>
                        {% if(recipe.confirm==1)%}
        {#                <a href="generatePdf.php?recipe=<?= $recipe->Id; ?>" class="btn download"><i class="fa fa-download"></i> Download PDF</a>#}
                            <a href="{{ path('generatePdf', {'recipeId': recipe.id}) }}" class="btn download"><i class="fa fa-download"></i> Download PDF</a>

                        {% else %}

                        <div class="alert alert-warning" role="alert">
                            this recipe has not been  confirmed yet
                        </div>
                            {% endif %}
                        {% endfor %}

            </div>
            {% else %}
            <div class="suggestion">
                <div class="alert alert-info" role="alert">
                    No recipes found
                </div>
{#                <div><Button class="share" ><a href="Submit_request">Share Recipes </Button></a></div>#}
                <div><Button class="share" ><a href="{{ path('app_recipe_form') }}">Share Recipes</a> </Button></div>
            </div>
            {% endif %}



        </div>
    </div>
</div>
{% endblock %}
